body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.slider {
  width: 600px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.slider img {
  width: 100%;
  height: 100%;
}
